name: Deploy index.html

on:
    push:
            branches: [ master ]
            
jobs:
    deploy:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout
              uses: actions/checkout@v3
                
            - run: ls -al
            
            - name: Deploy 
              uses: wlixcc/SFTP-Deploy-Action@v1.0
              with: 
                username: ${{secrets.username}}
                server: ${{secrets.server_ip}}
                ssh_private_key: "${{secrets.SSH_KEY}}"
                local_path: './index.html'
                remote_path: '/var/www/html'
